In [164]:
import pandas as pd
import numpy as np

In [63]:
dados_space = pd.read_csv("space.csv", sep=";", encoding="ISO-8859-1")
dados_space

,ï»¿num,Company Name,Location,Datum,Detail,Status Rocket,Cost,Status Mission
0,0,SpaceX,LC-39A Kennedy Space Center Florida USA,Fri Aug 07 2020 05:12 UTC,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success
1,1,CASC,Site 9401 (SLS-2) Jiuquan Satellite Launch Cen...,Thu Aug 06 2020 04:01 UTC,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,SpaceX,Pad A Boca Chica Texas USA,Tue Aug 04 2020 23:57 UTC,Starship Prototype | 150 Meter Hop,StatusActive,0.00,Success
3,3,Roscosmos,Site 200/39 Baikonur Cosmodrome Kazakhstan,Thu Jul 30 2020 21:25 UTC,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success
4,4,ULA,SLC-41 Cape Canaveral AFS Florida USA,Thu Jul 30 2020 11:50 UTC,Atlas V 541 | Perseverance,StatusActive,145.00,Success
...,...,...,...,...,...,...,...,...
4319,4319,US Navy,LC-18A Cape Canaveral AFS Florida USA,Wed Feb 05 1958 07:33 UTC,Vanguard | Vanguard TV3BU,StatusRetired,0.00,Failure
4320,4320,AMBA,LC-26A Cape Canaveral AFS Florida USA,Sat Feb 01 1958 03:48 UTC,Juno I | Explorer 1,StatusRetired,0.00,Success
4321,4321,US Navy,LC-18A Cape Canaveral AFS Florida USA,Fri Dec 06 1957 16:44 UTC,Vanguard | Vanguard TV3,StatusRetired,0.00,Failure
4322,4322,RVSN USSR,Site 1/5 Baikonur Cosmodrome Kazakhstan,Sun Nov 03 1957 02:30 UTC,Sputnik 8K71PS | Sputnik-2,StatusRetired,0.00,Success
4323,4323,RVSN USSR,Site 1/5 Baikonur Cosmodrome Kazakhstan,Fri Oct 04 1957 19:28 UTC,Sputnik 8K71PS | Sputnik-1,StatusRetired,0.00,Success

# 1

In [88]:
len(dados_space)

4324

In [89]:
coluna_status = dados_space.filter(items=["Status Mission"])
total = coluna_status.count()
total

Status Mission    4324
dtype: int64

In [93]:
filtro = coluna_status.filter(items=["Status Mission"]).where(coluna_status["Status Mission"] == "Success")
sucesso = filtro.count()
sucesso

Status Mission    3879
dtype: int64

In [109]:
print(f"Porcentagem de sucesso: {100*sucesso/total} %")

Porcentagem de sucesso: Status Mission    89.708603
dtype: float64 %

# 2

In [113]:
media_gastos = dados_space.filter(items=["Cost"]).where(dados_space["Cost"] > 0).mean() 
media_gastos

Cost    153.792199
dtype: float64

# 3

In [156]:
location = pd.array(dados_space["Location"])
location

<PandasArray>
[                'LC-39A Kennedy Space Center Florida USA',
 'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China',
                              'Pad A Boca Chica Texas USA',
              'Site 200/39 Baikonur Cosmodrome Kazakhstan',
                   'SLC-41 Cape Canaveral AFS Florida USA',
              'LC-9 Taiyuan Satellite Launch Center China',
                'Site 31/6 Baikonur Cosmodrome Kazakhstan',
           'LC-101 Wenchang Satellite Launch Center China',
                   'SLC-40 Cape Canaveral AFS Florida USA',
                    'LA-Y1 Tanegashima Space Center Japan',
 ...
                   'LC-18A Cape Canaveral AFS Florida USA',
                 'Site 1/5 Baikonur Cosmodrome Kazakhstan',
                     'LC-5 Cape Canaveral AFS Florida USA',
                   'LC-18A Cape Canaveral AFS Florida USA',
                   'LC-26A Cape Canaveral AFS Florida USA',
                   'LC-18A Cape Canaveral AFS Florida USA',
                   'LC-26A Cape Canaveral AFS Florida USA',
                   'LC-18A Cape Canaveral AFS Florida USA',
                 'Site 1/5 Baikonur Cosmodrome Kazakhstan',
                 'Site 1/5 Baikonur Cosmodrome Kazakhstan']
Length: 4324, dtype: object

In [180]:
qnt_usa = []
for i in range(len(location)):
    if "USA" in location[i]:
        qnt_usa.append(location[i])        
print(f"Quantidade de missões feitas pelos EUA: {len(qnt_usa)} missões")

Quantidade de missões feitas pelos EUA: 1344 missões

# 4

In [122]:
nome_preco = dados_space.filter(items=["Company Name", "Cost"])
nome_preco

     Company Name    Cost
0          SpaceX   50.00
1            CASC   29.75
2          SpaceX    0.00
3       Roscosmos   65.00
4             ULA  145.00
...           ...     ...
4319      US Navy    0.00
4320         AMBA    0.00
4321      US Navy    0.00
4322    RVSN USSR    0.00
4323    RVSN USSR    0.00

[4324 rows x 2 columns]

In [127]:
maior_spaceX = nome_preco.where(nome_preco["Company Name"] == "SpaceX").max()
maior_spaceX

Cost    90.0
dtype: float64

# 5

In [222]:
empresas = np.array(dados_space["Company Name"])

In [225]:
nome, qnt = np.unique(empresas, return_counts=True)

In [230]:
for i, v in enumerate(nome):
    print(f"{v}: {qnt[i]} vezes")

AEB: 3 vezes
AMBA: 8 vezes
ASI: 9 vezes
Arianespace: 279 vezes
Arm??e de l'Air: 4 vezes
Blue Origin: 12 vezes
Boeing: 136 vezes
CASC: 251 vezes
CASIC: 5 vezes
CECLES: 4 vezes
CNES: 8 vezes
Douglas: 1 vezes
EER: 1 vezes
ESA: 13 vezes
Eurockot: 13 vezes
ExPace: 10 vezes
Exos: 4 vezes
General Dynamics: 251 vezes
IAI: 11 vezes
ILS: 46 vezes
IRGC: 1 vezes
ISA: 13 vezes
ISAS: 30 vezes
ISRO: 76 vezes
JAXA: 7 vezes
KARI: 3 vezes
KCST: 5 vezes
Khrunichev: 1 vezes
Kosmotras: 22 vezes
Land Launch: 7 vezes
Landspace: 1 vezes
Lockheed: 79 vezes
MHI: 84 vezes
MITT: 7 vezes
Martin Marietta: 114 vezes
NASA: 203 vezes
Northrop: 83 vezes
OKB-586: 2 vezes
OneSpace: 1 vezes
RAE: 2 vezes
RVSN USSR: 1777 vezes
Rocket Lab: 13 vezes
Roscosmos: 55 vezes
SRC: 3 vezes
Sandia: 1 vezes
Sea Launch: 36 vezes
SpaceX: 100 vezes
Starsem: 1 vezes
ULA: 140 vezes
US Air Force: 161 vezes
US Navy: 17 vezes
UT: 5 vezes
VKS RF: 201 vezes
Virgin Orbit: 1 vezes
Yuzhmash: 2 vezes
i-Space: 1 vezes